
<% @articles.each do |article| %>
<div>
<div class="container">
    <div class="card text-center shadow mb-5 bg-body rounded">
        <div class="card-header">
            <%= gravatar_for article.user, size: 50 %>
            <%= link_to article.user.username, user_path(article.user) %>
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= article.title%></h5>
            <p class="card-text"><%= article.description%></p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <%= button_to "Show", article_path(article), method: :get, class:"btn btn-outline-secondary d-inline" %>
            <%# wyświetlanie przycisków "edytuj" i "usuń" tylko przez użytkownika%>
            <% if logged_in? && article.user == current_user %>
                <%= button_to "Edit", edit_article_path(article), method: :get, class: "btn btn-outline-secondary d-inline" %>
                <%= button_to "Delete", article_path(article), method: :delete, class: "btn btn-outline-secondary d-inline" %>
            <% end %>

        </div>    
                

        </div>
        <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(article.created_at) %> ago, 
            edited <%= time_ago_in_words(article.updated_at) %> ago</small>
        </div>
    </div>
</div>
<% end %>
