
<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky top-0" style="z-index: 10">
  <div class="container-fluid">
    
    <%= button_to "alpha blog", root_path, class: "navbar-brand text-light nav-btn-0", id: "logo", method: :get %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= button_to "Article list", articles_path, class: "nav-link text-light nav-btn-0", method: :get %>
        </li>
        <li class="nav-item">
          <%= button_to "Bloggers", users_path, class:"nav-link text-light nav-btn-0", method: :get %>
        </li>
        <li class="nav-item">
          <%= button_to "About", about_path, class:"nav-link text-light nav-btn-0", method: :get %>
        </li>
         
        
         <% if logged_in? %>
         
          <%if current_user.admin? %>
            <li class="nav-item">
            <%= button_to "(admin) " + current_user.username, user_path(current_user), class:"nav-link text-light nav-btn-0", method: :get %></li>
         <%else%>
            <%= button_to current_user.username, user_path(current_user), class:"nav-link text-light nav-btn-0", method: :get %></li>
         <% end %>

            <li class="nav-item">
            <%= button_to 'Logout', logout_path, class:"nav-link text-light nav-btn-0", method: :delete %></li>

          <% else %>
          <li class="nav-item">
           <%= button_to 'Log in', login_path, class:"nav-link text-light nav-btn-0", method: :get %></li>
          <li class="nav-item">
           <%= button_to 'Sign up', signup_path, class:"nav-link text-light nav-btn-0", method: :get %></li>
          
        <% end %>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn btn-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
